body {
    background-image: url(background.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container h1{
    margin-top: 20px;
    font-size: large;
    color: white;
}
.container a{
    text-decoration: none;
}
#container_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px; 
}
#container_2{
    margin-top: 20px;
}
h1, p{
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#avatar {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
}

.box {
    position: relative;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-bottom: 18px;
    /* animation: fadeIn 0.5s ease forwards; */
}

.box a {
    position: absolute; /* 絕對定位於父系 */
    top: 0; 
    left: 0; 
    width: 100%; /* 寬度填滿父系 */
    height: 100%; /* 高度填滿父系 */
    text-decoration: none; /* 移除下線 */
}

.box p {
    display: flex;
    justify-content: center;    
    text-align: center; 
    color: white;
}

.box i {
    position: absolute; 
    margin: 3px 12px;   
}

.box:hover {
    background-color: rgba(0, 0, 0, 0.5);
    animation: scale 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s 1 normal forwards;
}

.arrow-down { /* arrow */
    position: absolute;
    right: 10px; 
    top: 40%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 13px solid white;
    transition: transform 0.3s; 
    
}

.rotate {   /* arrow rotation */
    transform: rotate(180deg); /* rotation */
}

#dropdown{
    cursor: pointer;
}
.dropdown_menu{
    display: none;
}

/* for js toggle */
.show {
    display: block;
}


@keyframes fadeIn {
    from { transform: translateY(-80%); }
    to { transform: translateY(0%); }
    0% { opacity: 0; }
}

@keyframes scale {
    0% { transform: scale(1); }
    100% { transform: scale(1.02); }
}